:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}


* {
    font-family: 'Poppins',
        sans-serif;
    font-size: 17px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
  font-size: 20px;
}

html {
    scroll-behavior: smooth;
}
#user_name {
  margin-top: 10px;
  margin-right: 14px;
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.mar-right {
    margin-right: 15%;
}

.form-inline * {
    font-size: 10px;
}

.fa-search {
    font-size: 20px;
}

.head {
    text-align: center;
    margin: auto;
    padding-top: 200px;
    /* background-color: black; */
}

#logo {
    /* background-color: red; */
    font-size: 130%;
    font-weight: bold;
    margin-right: 200px;
}

.navbar {
    box-shadow: 0 8px 6px -6px rgb(211, 211, 211);
}

.list-group-item {
    color: black;
    text-decoration: none;
}

.list-group-item:hover {
    color: red;
    text-decoration: none;
}

/* products */
.product {
    /* background-color: red; */
    padding-bottom: 15px;
    box-shadow: 0 8px 6px -6px rgb(211, 211, 211);
}

.products {
    padding: 4rem 0;
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 2.5rem;
    grid-row-gap: 4.5rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.fa-shopping-cart {
    margin-right: 0.5rem;
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
}

.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: center;
}

.product h4 {
    margin-top: 0.7rem;
    color: gray;
    text-align: center;
}

.cart-btn {
    position: relative;
    left: 90px;
    background-color: white;
    border: none;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 1px 5px 1px 2px;
}

.cart-btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Products End*/

@media only screen and (max-width: 1265px) {
    .products-center {
        width: 90vw;
        margin: 0 auto;
        max-width: 960px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-column-gap: 2.0rem;
        grid-row-gap: 4.0rem;
    }

}


.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(245, 245, 245, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: white;
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}

.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 40vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 3.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 100px;
  height: 100px;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
