* {
    font-family: 'Poppins',
        sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


.form-inline * {
    font-size: 10px;
}

.fa-search {
    font-size: 20px;
}

.head {
    text-align: center;
    margin: auto;
    padding-top: 200px;
    /* background-color: black; */
}

#logo {
    /* background-color: red; */
    font-size: 130%;
    font-weight: bold;
    padding-right: 250px;
}

.navbar {
    box-shadow: 0 8px 6px -6px rgb(211, 211, 211);
}


.welcomeText {
    position: absolute;
    top: 650px;
    left: 800px;
}

#go-low {
    color: none;
    position: absolute;
    top: 750px;
    left: 905px;
}

.welcome-img {
    padding: 5px 0px;
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
}

#head {
    position: absolute;
    top: 930px;
    left: 800px;
}

/* Products */
.product {
    /* background-color: red; */
    padding-bottom: 15px;
    box-shadow: 0 8px 6px -6px rgb(211, 211, 211);
}

.products {
    padding: 4rem 0;
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 2.5rem;
    grid-row-gap: 4.5rem;

}

.img-container {
    position: relative;
    overflow: hidden;
}

.fa-shopping-cart {
    margin-right: 0.5rem;
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
}

.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: center;
}

.product h4 {
    margin-top: 0.7rem;
    color: gray;
    text-align: center;
}


.cart-btn {
    position: relative;
    left: 90px;
    background-color: white;
    border: none;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 1px 5px 1px 2px;
}

.cart-btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Products End*/

footer {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}