<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../css/contact.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0b0f4c8001.js"></script>
    <link rel="shortcut icon" type="image/png" href="../img/clay.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <div class="container justify-content-center">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/clay.png" width="25" height="25" alt="">
            </a>

            <ul class="nav navbar-nav flex-fill justify-content-center">
                <li class="nav-item active"><a class="nav-link" id="logo" href="../index.html">Crafts Online</a></li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Catagories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="./catagory.html" onclick="findCat(1)">Wood</a>
                            <a class="dropdown-item" href="./catagory.html" onclick="findCat(2)">Glass</a>
                            <a class="dropdown-item" href="./catagory.html" onclick="findCat(3)">Clay</a>
                            <a class="dropdown-item" href="./catagory.html" onclick="findCat(5)">Paper</a>
                            <a class="dropdown-item" href="./catagory.html" onclick="findCat(4)">Uncatagorized</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact Us</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li id="user_name"><a href="./views/account.html">Name</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="./account.html">My Account</a>
                            <a class="dropdown-item" href="./feedback.html" id="navbar-feedback"
                                style="display : block;">User
                                Feedback</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="./login.html" id="navbar-signin"
                                style="display : block;">Sign in</a>
                            <a class="dropdown-item" href="../index.html" id="navbar-logout" onclick="LogOut()"
                                style="display : block;">log
                                out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>


    <!-- navBar -->


    <!-- navBar End-->

    <!-- Contact Us Section -->


    <div class="wrapper" id="wrapper">
        <section class="Material-contact-section section-padding section-dark" id="main-section">
            <div class="container mt-5">
                <div class="row">
                    <!-- Section Titile -->
                    <div class="col-md-12 mt-5 mr-1">
                        <h2 class="section-title">Loves to Hear From You</h2>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10%">
                    <!-- Section Titile -->
                    <div class="col-md-5 mt-3 mr-3">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page
                            when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                            distribution of letters, as opposed to using Content.</p>

                        <div class="find-widget">
                            Company: <a href="https://hostriver.ro">Craft Online</a>
                        </div>
                        <div class="find-widget">
                            Address: <a href="#">221,B London</a>
                        </div>
                        <div class="find-widget">
                            Phone: <a href="#">+ 879-890-9767</a>
                        </div>

                        <div class="find-widget">
                            Website: <a href="https://uny.ro">www.onlinecraft.oc</a>
                        </div>
                        <div class="find-widget">
                            Program: <a href="#">Mon to Sat: 08:30 AM - 11.30 PM</a>
                        </div>
                    </div>
                    <!-- contact form -->
                    <div class="col-md-6">
                        <form class="shake" role="form" method="post" id="contactForm" name="contact-form"
                            data-toggle="validator">
                            <!-- Name -->
                            <div class="form-group label-floating">
                                <label class="form-control-label" for="name">Name</label>
                                <input class="form-control" id="name" type="text" name="name" required
                                    data-error="Please enter your name">
                                <div class="form-text with-errors"></div>
                            </div>
                            <!-- email -->
                            <div class="form-group label-floating">
                                <label class="form-control-label" for="email">Email</label>
                                <input class="form-control" id="email" type="email" name="email" required
                                    data-error="Please enter your Email">
                                <div class="form-text with-errors"></div>
                            </div>
                            <!-- Subject -->
                            <div class="form-group label-floating">
                                <label class="form-control-label">Subject</label>
                                <input class="form-control" id="msg_subject" type="text" name="subject" required
                                    data-error="Please enter your message subject">
                                <div class="form-text with-errors"></div>
                            </div>
                            <!-- Message -->
                            <div class="form-group label-floating">
                                <label for="message" class="form-control-label">Message</label>
                                <textarea class="form-control" rows="4" id="message" name="message" required
                                    data-error="Write your message"></textarea>
                                <div class="form-text with-errors"></div>
                            </div>
                            <!-- Form Submit -->
                            <div class="form-submit mt-5">
                                <button class="btn btn-dark" type="submit" id="form-submit"><i
                                        class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                                <div id="msgSubmit" class="h3 text-xs-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>


<!-- FireBase -->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-firestore.js"></script>
<!-- FireBase End-->


<script src="../firebase.js"></script>
<script src="../contact.js"></script>
<script src="../find_cat.js"></script>
<script>
    auth.onAuthStateChanged(user => {
        console.log(user);
        if (user) {
            document.getElementById('navbar-logout').style.display = "block";
            document.getElementById('navbar-signin').style.display = "none";
            if (user.email == 'admin@gmail.com') {
                console.log(user.email);
                document.getElementById('navbar-feedback').style.display = "block";
            } else {
                document.getElementById("navbar-feedback").style.display = "none";
            }
        } else {
            document.getElementById('navbar-logout').style.display = "none";
            document.getElementById('navbar-signin').style.display = "block";
            document.getElementById("navbar-feedback").style.display = "none";
        }
    })
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>

<footer>
    <p>Craft Online &copy; 2019</p>
</footer>

</html>