<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resister</title>
    <link rel="stylesheet" href="../css/resister.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0b0f4c8001.js"></script>

</head>

<body>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body" id="modal-signup">
                <h1 class="text-center mb-3">
                    <i class="fas fa-user-plus fa-1x"></i> Register
                </h1>
                <form id='signup-form'>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Create Password" />
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" id="password2" name="password2" class="form-control"
                            placeholder="Confirm Password" />
                    </div>
                    <button type="submit" class="btn btn-lg btn-dark btn-block" id="submit">
                        Register
                    </button>
                </form>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Already Have an Account? <a href="./login.html" class="ml-2">log in</a>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Already Have an Account? <a href="#" class="ml-2" id='navbar-logout'>log out</a>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-firestore.js"></script>


    <script src="../auth.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>